body {
  margin:0;
  background-image:linear-gradient(#0009,#0009),url(../public/assets/images/background-image-displaying_orders.webp);
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  color:#fff;
  z-index:94
  }
  
  .orderSummaryBackground {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000ad;
  z-index:998
  }
  
  .orderSummary {
  position:absolute;
  top:20%;
  width:300px;
  height:40%;
  transform:translateX(-50%);
  left:50%;
  padding-top:5%;
  border-radius:2%;
  background-color:#525252;
  text-align:center;
  z-index:998
  }
  
  .fa {
  font-size:30px!important;
  margin:10px
  }
  
  h2 {
  margin-top:1%;
  margin-bottom:1%
  }
  
  button {
  border:0;
  background:0;
  cursor:pointer
  }
  
  a {
  text-decoration:none;
  padding-bottom:5px
  }
  
  ul {
  list-style:none;
  padding:0;
  margin:0
  }
  
  #contenerOrderInfo {
  position:relative;
  width:100%;
  margin-top:5%;
  height:10vh;
  overflow:auto!important;
  text-align:center;
  border:solid 2px #fff!important;
  left:0
  }
  
  .boxOrderInfo {
  margin-top:2%;
  transform:translateX(-50%);
  left:50%;
  position:relative;
  display:flex;
  width:65%
  }
  
  header nav {
  padding:15px 35px;
  display:flex;
  position:relative
  }
  
  header nav h2 {
  margin-bottom:0;
  flex:1;
  letter-spacing:3px;
  font-family:"Overpass Mono",monospace!important
  }
  
  header nav h2 #logo {
  color:lightgray;
  text-transform:uppercase;
  border-bottom:solid 2px lightgray
  }
  
  header nav .nav-button {
  color:silver;
  font-size:23px
  }
  
  header nav div {
  background:#000000e6;
  position:fixed;
  right:0;
  left:0;
  top:0;
  bottom:0;
  z-index:1;
  text-align:center;
  transform:scale(0);
  opacity:0;
  transition:opacity .2s
  }
  
  header nav div ul {
  position:relative;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center
  }
  
  header nav div ul .exit-menu {
  position:absolute;
  top:15px;
  right:15px;
  color:lightgray;
  font-size:20px;
  padding:10px
  }
  
  header nav div ul li {
  font-family:"PT Sans",sans-serif!important;
  text-transform:uppercase
  }
  
  header nav div ul li a {
  display:block;
  color:lightgray;
  padding:15px 5px;
  transition:all .4s
  }
  
  header nav div ul li a:hover,header nav div ul li a .active:hover {
  color:#be8040;
  border-bottom-color:#be8040
  }
  
  nav div.show {
  transform:scale(1);
  opacity:1
  }
  
  .center-text {
  text-align:center;
  margin-bottom:40px;
  margin-top:30px;
  color:#4d4d4d
  }
  
  .center-text h2 {
  line-height:0
  }
  
  .center-text p {
  margin-top:0;
  font-family:"PT Sans",sans-serif;
  line-height:1.5
  }
  
  .center-text a {
  font-family:"PT Sans",sans-serif;
  color:#be8040;
  text-transform:uppercase;
  font-size:12px;
  font-weight:600;
  letter-spacing:1px;
  border-bottom:solid 2px #be8040
  }
  
  .menu {
  padding:30px
  }
  
  .menu-images {
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:10px
  }
  
  .menu-images img {
  width:100%
  }
  
  .logoHP {
  margin-top:-10px!important;
  left:1%;
  max-width:130px;
  max-height:130px;
  z-index:99
  }
  
  .menu {
  position:relative;
  left:50%;
  transform:translateX(-50%);
  width:90%;
  text-align:center;
  margin:20px 0
  }
  
  .menuImage {
  position:relative;
  right:0;
  width:50%;
  margin-bottom:2%;
  margin-top:2%
  }
  
  #contenerImage {
  position:absolute;
  left:30%;
  margin-top:10%;
  margin-bottom:0;
  transform:translateX(-50%);
  width:30%!important;
  height:100%;
  z-index:2
  }
  
  #imageOrders0 {
  position:absolute;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders1 {
  position:absolute;
  margin-top:145%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders2 {
  position:absolute;
  margin-top:290%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders3 {
  position:absolute;
  margin-top:435%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders4 {
  position:absolute;
  margin-top:580%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders5 {
  position:absolute;
  margin-top:725%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders6 {
  position:absolute;
  margin-top:870%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrders7 {
  position:absolute;
  margin-top:1015%;
  width:100%!important;
  height:auto;
  z-index:2
  }
  
  #imageOrdersSvg0 {
  position:absolute;
  width:100%!important;
  height:auto;
  z-index:3
  }
  
  #imageOrdersSvg1 {
  position:absolute;
  margin-top:145%;
  width:100%!important;
  height:auto;
  z-index:3
  }
  
  #imageOrdersSvg2 {
  position:absolute;
  margin-top:290%;
  width:100%!important;
  height:auto;
  z-index:3
  }
  
  #imageOrdersSvg3 {
  position:absolute;
  margin-top:435%;
  width:100%!important;
  height:auto;
  z-index:3
  }
  
  #imageOrdersSvg4 {
  position:absolute;
  margin-top:580%;
  width:100%!important;
  height:auto;
  z-index:3
  }
  
  #imageOrdersSvg5 {
  position:absolute;
  margin-top:725%;
  width:100%!important;
  height:auto;
  z-index:3
  }
  
  #ordersForm {
  position:absolute;
  background-color:#26262632;
  backdrop-filter:blur(15px);
  left:70%;
  transform:translateX(-50%);
  margin-bottom:0;
  width:350px;
  margin-top:7%;
  z-index:22!important
  }
  
  svg path {
  fill:#fff0;
  animation:pulse 3s infinite;
  border-radius:20%
  }
  
  svg path:hover {
  fill:#ffffff3b;
  filter:drop-shadow(2px 2px 5px #ffc400)
  }
  
  @keyframes pulse {
  0% {
  fill:#fff0
  }
  
  100% {
  fill:#ffffff3b;
  filter:drop-shadow(2px 2px 5px #fff)
  }
  }
  
  input {
  padding:1%
  }
  
  input::placeholder {
  color:#fff
  }
  
  textarea::placeholder {
  color:#fff
  }
  
  .textStatus {
  transform:translateX(-50%);
  background-color:#4b4b4b00;
  width:90%;
  position:relative;
  margin-top:5%;
  left:50%;
  margin-bottom:1%;
  font-style:12px;
  text-align:center
  }
  
  input,textarea {
  text-align:center;
  position:relative;
  display:flex;
  left:50%;
  margin:1.5%;
  transform:translateX(-50%);
  top:2%;
  width:46%;
  font-size:20px;
  background-color:#4d4d4d;
  color:#fff
  }
  
  input[type=time] {
  position:relative;
  color:#fff;
  width:85px
  }
  
  input[type="time"]::-webkit-calendar-picker-indicator {
  filter:invert(1) sepia(0) saturate(10000%) hue-rotate(0deg)
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
  filter:invert(1) sepia(0) saturate(10000%) hue-rotate(0deg)
  }
  
  input:focus {
  outline:none;
  border-color:#fff;
  box-shadow:0 0 5px #2e7d3280
  }
  
  label {
  position:relative;
  text-align:center;
  top:2%;
  margin:1%;
  font-size:18px
  }
  
  @media screen and (max-width: 425px) {
  header,.bread-background,.cake-background {
  background-attachment:scroll
  }
  
  h2 {
  margin-top:3%!important;
  margin-bottom:1%
  }
  }
  
  nav {
  position:initial!important;
  align-items:baseline;
  padding:20px 70px!important
  }
  
  nav .nav-button {
  display:none
  }
  
  nav div {
  position:initial!important;
  background:none!important;
  opacity:initial!important;
  transform:initial!important
  }
  
  nav div ul {
  position:initial!important;
  flex-direction:row!important
  }
  
  nav div ul .exit-menu {
  display:none
  }
  
  nav div ul li a {
  font-size:12.8px;
  margin:0 10px;
  letter-spacing:1px;
  padding:5px 0!important
  }
  
  nav div ul .active {
  border-bottom:solid 1px lightgray
  }
  
  .add-padding {
  padding:50px 0
  }
  
  .add-flex {
  flex-direction:row;
  align-items:center
  }
  
  .add-flex div:first-child {
  flex:1;
  padding:0 50px
  }
  
  .add-flex div:last-child {
  min-width:400px;
  margin:50px
  }
  
  .menu-images {
  flex:1
  }
  
  .menu div:last-child {
  flex:1
  }
  
  .nav_headar {
  background-color:#26262600;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition:.6s;
  z-index:960
  }
  
  .nav_headar:hover {
  background-color:#26262632
  }
  
  .nav_headar.sticky {
  background-color:#26262632;
  backdrop-filter:blur(15px);
  padding:0
  }
  
  li {
  list-style:none
  }
  
  a {
  color:#fff;
  text-decoration:none
  }
  
  .container {
  width:90%;
  margin:auto
  }
  
  .navbar {
  min-height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center
  }
  
  .nav-logo {
  font-size:2rem
  }
  
  .nav-menu {
  display:flex;
  justify-content:space-between;
  align-items:center;
  gap:35px;
  margin-top:-30px;
  left:50%;
  transform:translateX(-30%)
  }
  
  .nav-link {
  transition:.3s ease-out
  }
  
  .nav-link:hover {
  color:#7e7e7e
  }
  
  .hamburger {
  display:none;
  cursor:pointer
  }
  
  .bar {
  display:block;
  width:25px;
  height:3px;
  margin:5px auto;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
  background-color:#fff
  }
  
  .link:hover {
  color:#7e7e7e
  }
  
  .dropdown.active > .link {
  color:#fff
  }
  
  .dropdown {
  position:relative
  }
  
  .dropdown-menu a {
  color:#000;
  text-decoration:none
  }
  
  .textContact,.textLocation,.textInformation {
  position:relative;
  margin-left:1.5%;
  margin-right:1.5%;
  margin-top:2%;
  left:26%
  }
  
  .containerCheck {
  display:block;
  position:relative;
  padding-left:25px;
  margin-bottom:5px;
  cursor:pointer;
  font-size:10px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  text-align:left
  }
  
  .containerCheck input {
  position:absolute;
  opacity:0;
  cursor:pointer
  }
  
  .checkmark {
  position:absolute;
  top:0;
  left:0;
  height:15px;
  width:15px;
  background-color:#eee
  }
  
  .information {
  position:relative;
  font-size:17px;
  text-align:left;
  padding:1% 2% 0 5%
  }
  
  .containerCheck {
    display:block;
    position:relative;
    padding-left:25px;
    margin-bottom:12px;
    cursor:pointer;
    font-size:12px;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-align:left
    }
    
    .containerCheck input {
    position:absolute;
    opacity:0;
    cursor:pointer
    }
    
    .checkmark {
    position:absolute;
    top:0;
    left:0;
    height:15px;
    width:15px;
    background-color:#eee
    }
    
    .containerCheck:hover input ~ .checkmark {
    background-color:#ccc
    }
    
    .containerCheck input:checked ~ .checkmark {
    background-color:#be8040
    }
    
    .checkmark:after {
    content:"";
    position:absolute;
    display:none
    }
    
    .containerCheck input:checked ~ .checkmark:after {
    display:block
    }
    
    .containerCheck .checkmark:after {
    top:5px;
    left:5px;
    width:5px;
    height:5px;
    background:#fff
    }
  @media(max-width:1200px) {
  .logoHP {
  position:absolute;
  top:30px;
  max-width:100px;
  max-height:100px
  }
  
  p {
  font-size:15px!important
  }
  
  .hamburger {
  display:block
  }
  
  .hamburger.active .bar:nth-child(2) {
  opacity:0
  }
  
  .hamburger.active .bar:nth-child(1) {
  transform:translateY(8px) rotate(45deg)
  }
  
  .hamburger.active .bar:nth-child(3) {
  transform:translateY(-8px) rotate(-45deg)
  }
  
  .nav-menu {
  transform:translateX(0%);
  position:fixed;
  left:-100%;
  top:70px;
  gap:0;
  flex-direction:column;
  background-color:#262626;
  width:100%;
  text-align:center;
  transition:.3s;
  z-index:960
  }
  
  .nav-item {
  margin:9px 0
  }
  
  .nav-menu.active {
  left:0
  }
  }
  
  * {
  padding:0;
  margin:0;
  z-index:960
  }
  
  @media(max-width:950px) {
  .information {
  position:relative;
  padding-bottom:1%
  }
  
  #contenerImage {
  position:absolute;
  left:50%;
  margin-top:10%;
  margin-bottom:0;
  transform:translateX(-50%);
  width:95%!important;
  height:50%;
  overflow:auto;
  z-index:2
  }

  #contenerOrderInfo {
  margin-top:10%
  }
  
  #ordersForm {
  position:relative;
  text-align:center;
  background-color:#26262632;
  backdrop-filter:blur(15px);
  left:50%;
  transform:translateX(-50%);
  margin-bottom:0;
  width:250px;
  margin-top:35%
  }
  
  input,textarea {
  position:relative;
  display:flex;
  left:50%;
  margin:1.5%;
  transform:translateX(-50%);
  top:-5%;
  font-size:12px
  }
  
  label {
  position:relative;
  top:10%;
  margin:1%;
  font-size:12px
  }
  
  .textStatus {
  position:relative;
  margin-top:22%!important;
  margin-bottom:1%;
  font-style:12px
  }
  
  footer {
  position:relative;
  display:block;
  bottom:0;
  background-color:#26262632;
  backdrop-filter:blur(15px);
  height:230px
  }
  
  .textContact,.textLocation,.textInformation {
  position:relative;
  margin-left:1.5%;
  margin-right:1.5%;
  margin-top:2%;
  left:0
  }
  }
  
  @media(max-width:600px) {
  .orderSummary {
  width:80%
  }
  
  .menuImage {
  width:98%
  }
  
  p {
  font-size:10px!important
  }
  
  .textStatus {
  margin-top:16%
  }
  }
  
  @media(max-width:450px) {
  p {
  font-size:7px!important
  }

    .numbersOrderLocation,.quantityLocation
    {
font-size: 9px;
    }
#ordersForm {
  width: 98% !important;
}

  }
  
  @media(max-width:350px) {
  .textStatus {
  top:-18%!important;
  font-size:12px!important;
  z-index:9999
  }
  }
