body {
    
    margin: 0;
    min-height: 100vh;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.749), rgba(0, 0, 0, 0.683)), url("../public/assets/images/background.webp");
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 94;
    }

  
  .fa
  {
    
    font-size: 30px !important;
    margin: 10px;
    
  }
  
  
  h2 {
  
  margin-top: 1%;
  margin-bottom: 1%;
  }
  
  button {
  border: 0;
  background: 0;

  }
  
  /* a {
  text-decoration: none;
  padding-bottom: 5px;
  } */
  
  ul {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  
  /* heder */
  
  header {
  
     height: 550px;
      max-width: 100%;
      background: url(../public/assets/images/backgroundMain.webp) center; 
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      flex-direction: column;
  
  /*
    NAV
  */
  /*
    CENTER HEADER TEXT
  */
  }
  header nav {
  padding: 15px 35px;
  display: flex;
  position: relative;
  }
  header nav h2 {
  
  margin-bottom: 0;
  flex: 1;
  letter-spacing: 3px;
  font-family: "Overpass Mono", monospace !important;
  }
  header nav h2 #logo {
  color: lightgray;
  text-transform: uppercase;
  border-bottom: solid 2px lightgray;
  }
  header nav .nav-button {
  color: #c0c0c0;
  font-size: 23px;
  }
  header nav div {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
  transform: scale(0);
  opacity: 0;
  transition: opacity 0.2s;
  }
  header nav div ul {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  header nav div ul .exit-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  color: lightgray;
  font-size: 20px;
  padding: 10px;
  }
  header nav div ul li {
  font-family: "PT Sans", sans-serif !important;
  text-transform: uppercase;
  }
  header nav div ul li a {
  display: block;
  color: lightgray;
  padding: 15px 5px;
  transition: all 0.4s;
  }
  header nav div ul li a:hover, header nav div ul li a .active:hover {
  color: #be8040;
  border-bottom-color: #be8040;
  }
  header .center {
  line-height: 0;
  margin: auto;
  text-align: center;
  color: white;
  }
  header .center h1 {
  font-family: "Alex Brush", cursive !important;
  color: #be8040;
  font-size: 100px;
  margin-bottom: 34px;
  z-index: 99;
  }
  header .center h2 {
  margin-top: 100px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 80px;
  }
  header .center #asterisk {
  margin-top: 50px;
  color: #be8040;
  line-height: 0.5;
  font-size: 30px;
  display: flex;
  justify-content: center;
  }
  header .center #asterisk:before, header .center #asterisk:after {
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 1px;
  width: 0%;
  opacity: 0;
  background: white;
  margin-top: 0px;
  }
  header .center #asterisk:before {
  margin-right: 10px;
  }
  header .center #asterisk:after {
  margin-left: 10px;
  }
  header .center p {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
  }
  
  nav div.show {
  transform: scale(1);
  opacity: 1;
  z-index: 99;
  }
  
  
  .custom-font {
  font-family: "Alex Brush", cursive;
  color: #be8040;
  font-size: 75px;
  line-height: 0;
  z-index: 99;
  }
  
  
  
  .center-text {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 30px;
  color: #4d4d4d;
  }
  .center-text h2 {
  
  line-height: 0;
  }
  .center-text p {
  margin-top: 0;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5;
  z-index: 99;
  }
  .center-text a {
  font-family: "PT Sans", sans-serif;
  color: #be8040;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-bottom: solid 2px #be8040;
  z-index: 99;
  }
  
  .add-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .center-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .custom-h1 {
  text-align: center;
  color: white;
  letter-spacing: 5px;
  margin-bottom: 0;
  }
  .custom-h1 span {
  letter-spacing: 0;
  }
  
  /*
  TASTEFUL RECIPES SECTION
  */

  
  /*
  MENU SECTION
  */
  .menu {
  padding: 30px;
  }
  .menu-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  }
  .menu-images img {
  width: 100%;
  }
  
  
  
  
  .logoHP {
    top: 0px;
    margin-top: -10px;
    left: 1%;
      max-width: 150px;
      max-height: 150px;
      z-index: 99;
  
  }
  
  
  
  
  /*
  MEDIA QUERIES
  */
  
  
  
  .menu
  {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    margin: 20px 0;
  }
  
  
  .menuImage{
    position: relative;
    right: 0;
    width: 50%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  @media screen and (max-width: 425px) {
  header, .bread-background, .cake-background {
    background-attachment: scroll;
  }
  /* heder */
  
  
  /*
    NAV
  */
  
  h2 {
  
  margin-top: 3% !important;
  margin-bottom: 1%;
  }
  
  }
  
  
  /*
    NAV
  */
  nav {
    position: initial !important;
    align-items: baseline;
    padding: 20px 70px !important;
  }
  nav .nav-button {
    display: none;
  }
  nav div {
    position: initial !important;
    background: none !important;
    opacity: initial !important;
    transform: initial !important;
  }
  nav div ul {
    position: initial !important;
    flex-direction: row !important;
  }
  nav div ul .exit-menu {
    display: none;
  }
  nav div ul li a {
    font-size: 12.8px;
    margin: 0 10px;
    letter-spacing: 1px;
    padding: 5px 0 !important;
  }
  nav div ul .active {
    border-bottom: solid 1px lightgray;
  }
  
  .add-padding {
    padding: 50px 0;
  }
  
  .add-flex {
    flex-direction: row;
    align-items: center;
  }
  .add-flex div:first-child {
    flex: 1;
    padding: 0 50px;
  }
  .add-flex div:last-child {
    min-width: 400px;
    margin: 50px;
  }
  
  .menu-images {
    flex: 1;
  }
  .menu div:last-child {
    flex: 1;
  }
  
  
  /* ANIMATIONS */
  #asterisk {
  opacity: 0;
  transform-origin: 50% 4%;
  -webkit-animation: spin 0.5s forwards;
          animation: spin 0.5s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  }
  
  #asterisk::before, #asterisk::after {
  transform-origin: center center;
  -webkit-animation: grow 0.5s forwards;
          animation: grow 0.5s forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  }
  
  .center p {
  transform: translateY(-40px);
  opacity: 0;
  -webkit-animation: fadeDown 0.9s forwards;
          animation: fadeDown 0.9s forwards;
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
  }
  
  .center h2 {
  transform: scale(2);
  opacity: 0;
  -webkit-animation: fade 0.5s forwards;
          animation: fade 0.5s forwards;
  }
  
  .center h1 {
  transform: translateY(40px);
  opacity: 0;
  -webkit-animation: fadeUp 0.5s forwards;
          animation: fadeUp 0.5s forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  }
  
  @-webkit-keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }
  
  @keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }
  @-webkit-keyframes fade {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  }
  @keyframes fade {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
  }
  @-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }
  @keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  }
  @-webkit-keyframes grow {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    width: 40%;
  }
  }
  @keyframes grow {
  0% {
    opacity: 0;
    width: 0%;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    width: 40%;
  }
  }
  @-webkit-keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
  }
  @keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
  }
  
  .nav_headar{
  background-color: #26262600;
  position        : fixed;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100px;
  display         : flex;
  justify-content : space-between;
  align-items     : center;
  transition      : 0.6s;
  z-index: 999;
  }
  
  .nav_headar:hover{
  background-color: #26262632;
  
  }
  
  .nav_headar.sticky{
  background-color: #26262632;
  backdrop-filter : blur(15px);
  padding         : 0px 0px;
  z-index: 999;
  }
  
  li{
  list-style: none;
  }
    
  a{
  color          : white;
  text-decoration: none;
  }
    
  .container{
  width : 90%;
  margin: auto;
  
  }
  
  .navbar{
  min-height     : 70px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  
  
  }
    
  .nav-logo{
  font-size: 2rem;
  }
    
  .nav-menu{
  display        : flex;
  justify-content: space-between;
  align-items    : center;
  gap            : 35px;
  margin-top: -30px;
  left: 50%;
  transform: translateX(-20%);
  }
    
  .nav-link{
  transition: 0.3s ease-out;
  }
    
  .nav-link:hover{
  color: rgb(126, 126, 126);
  }
    
  .hamburger{
  display: none;
  cursor : pointer;
  }
    
  .bar{
  display           : block;
  width             : 25px;
  height            : 3px;
  margin            : 5px auto;
  -webkit-transition: all 0.3s ease;
  transition        : all 0.3s ease;
  background-color  : white;
  
  }
    
  .link:hover{
  color: rgb(126, 126, 126);
  }
    
  .dropdown.active > .link{
  color: white;
  }
    
  .dropdown{
  position: relative;
  
  }
      
  .dropdown-menu a{
  color          : black;
  text-decoration: none;
  }


.textContact,.textLocation, .textInformation
{
  position: relative;
  margin-left:  1.5%;
  margin-right: 1.5%;
  margin-top: 2%;
  left: 26%;

}
    
  @media(max-width:1200px){
    .logoHP
  {
  
  margin-left: 5%;
  position: absolute;
  top: 35px;
  
  
    max-width: 100px;
    max-height: 100px;
  
  
  }
  
  p{
  font-size: 15px !important;
  }
  .hamburger{
  display: block;
  z-index: 99999999;
  }
    
  .hamburger.active .bar:nth-child(2){
  opacity: 0;
  }
  
  .hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.active .bar:nth-child(3){
  transform: translateY(-8px) rotate(-45deg);
  }
    
  .nav-menu{
    transform: translateX(0%);
      position        : fixed;
      left            : -100%;
      top             : 70px;
      gap             : 0;
      flex-direction  : column;
      background-color:#262626;
      width           : 100%;
      text-align      : center;
      transition      : 0.3s;
      backdrop-filter : blur(15px) !important; 
      z-index:999;
    }
    
    
  .nav-item{
  margin: 9px 0;
  
  }
    
  .nav-menu.active{
  left: 0;
  }
  }
  
  *{
    padding: 0;
    margin : 0;
 
    }


    @media(max-width:850px){




.textContact,.textLocation, .textInformation
{

left: 10%;

}

    }

    @media(max-width:800px){


 

   .textContact,.textLocation, .textInformation
{
 position: relative;
 margin-left:  1.5%;
 margin-right: 1.5%;
 margin-top: 2%;
 
 left:0%;

}
   }
    @media(max-width:600px){
  
      .menuImage{
   
        width:98%;
      }
  
      p{
  font-size: 10px !important;
  }
  header .center h1 {
        font-family: "Alex Brush", cursive !important;
        color: #be8040;
        font-size: 20px;
        margin-bottom: 24px;
  
    }
    header .center h2 {
      margin-top: 25px;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 20px;
  }
  
  header .center p {
    text-transform: uppercase;
    margin-top: 0px;
    font-size: 13px;
    font-weight: bold;
  
  }
  
  
    }
    
    @media(max-width:450px){
    p{
  font-size: 7px !important;
  }
    }